[submodule "tetres/online"]
	path = tetres/online
	url = git@github.com:bioDS/onlineRNNI.git
[submodule "tetres/visualize"]
	path = tetres/visualize
	url = git@github.com:bioDS/visualizeRNNI.git
[submodule "tetres/clustree"]
	path = tetres/clustree
	url = git@github.com:bioDS/clustree.git
