[submodule "tetres/online"]
	path = tetres/online
	url = ../onlineRNNI.git
[submodule "tetres/visualize"]
	path = tetres/visualize
	url = ../visualizeRNNI.git
[submodule "tetres/clustree"]
	path = tetres/clustree
	url = ../clustree.git
[submodule "tetres/partitions"]
	path = tetres/partitions
	url = ../partitions.git
